<div>
  <h1>ภาพรวม</h1>

  <h2>ตารางรายงานอะไรสักอย่าง</h2>
  <div class="table-responsive">
    <table class="table table-striped" id="report-table">
      <thead>
        <tr>
          <th>วันที่</th>
          <th>รายได้</th>
          <th>รายจ่าย</th>
          <th>กำไร</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rep of report.getPagedData()">
          <td>{{rep.datestamp | date}}</td>
          <td>{{rep.income | money}}</td>
          <td>{{rep.cost | money}}</td>
          <td>{{(rep.income - rep.cost) | money}}</td>
        </tr>
      </tbody>
    </table>

    <!-- pager -->
    <nav aria-label="Page navigation" id="report-pager">
      <ul class="pagination justify-content-center">
        <li class="page-item" [ngClass]="{disabled:report.page === 1}">
          <a class="page-link" href="#" (click)="setPage(1)" id="first-page">First</a>
        </li>
        <li class="page-item" [ngClass]="{disabled:report.page === 1}">
          <a class="page-link" href="#" (click)="setPage(report.page - 1)" id="previous-page">Previous</a>
        </li>
        <li class="page-item" *ngFor="let page of report.pageRange" [ngClass]="{active:report.page === page}">
          <a class="page-link" href="#" (click)="setPage(page)" id="goto-page-{{page}}">{{page}}</a>
        </li>
        <li class="page-item" [ngClass]="{disabled:report.page === report.pageCount}">
          <a class="page-link" href="#" (click)="setPage(report.page + 1)" id="next-page">Next</a>
        </li>
        <li class="page-item" [ngClass]="{disabled:report.page === report.pageCount}">
          <a class="page-link" href="#" (click)="setPage(report.pageCount)" id="last-page">Last</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
