<div class="container-fluid home_content">
  <div class="jumbotron">
    <h1 class="display-3">Robot Framework - Stage 1</h1>
    <p class="lead">เว็บไซต์นี้เอาไว้ใช้สำหรับทดสอบ Test Script นะจ๊ะ</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#content" role="button">ดูซิว่ามีอะไรให้ทดสอบบ้าง</a>
      <a id="go_to_github" class="btn btn-secondary btn-lg" target="_blank" href="https://github.com/chonla/robotframework-stage-1"
        role="button">
        <span class="octicon octicon-mark-github"></span> GitHub</a>
    </p>
  </div>

  <playground-list id="content" [playgrounds]="playgrounds"></playground-list>

</div>