<div class="container login_form">
  <!-- <form class="form-signin" #signinForm="ngForm" id="signin-form" (ngSubmit)="signin(signinForm)"> -->
  <form novalidate class="form-signin" [formGroup]="loginForm" id="signin-form" (ngSubmit)="signin(loginForm)">
    <h2 class="form-signin-heading">ล็อกอิน</h2>
    <label for="inputUser" class="sr-only">ชื่อผู้ใช้</label>
    <input type="text" id="inputUser" formControlName="login" class="form-control" placeholder="ชื่อผู้ใช้ (demouser)" required autofocus>
    <label for="inputPassword" class="sr-only">รหัสผ่าน</label>
    <input type="password" id="inputPassword" formControlName="pass" class="form-control" placeholder="รหัสผ่าน (demopassword)" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit" id="buttonLogin">ล็อกอิน</button>
  </form>

  <delay-loading-modal #delayLoadingModal></delay-loading-modal>
  <error-modal #errorModal></error-modal>
</div>
