<div class="container login_form">
  <form class="form-signin" #signinForm="ngForm" id="signin-form" (ngSubmit)="signin(signinForm)">
    <h2 class="form-signin-heading">ล็อกอิน</h2>
    <label for="inputUser" class="sr-only">ชื่อผู้ใช้</label>
    <input type="text" id="inputUser" name="login" class="form-control" placeholder="ชื่อผู้ใช้ (demouser)" required autofocus [(ngModel)]="login">
    <label for="inputPassword" class="sr-only">รหัสผ่าน</label>
    <input type="password" id="inputPassword" name="pass" class="form-control" placeholder="รหัสผ่าน (demopassword)" required [(ngModel)]="pass">
    <button class="btn btn-lg btn-primary btn-block" type="submit" id="buttonLogin">ล็อกอิน</button>
  </form>

  <delay-loading-modal #delayLoadingModal></delay-loading-modal>
  <error-modal #errorModal></error-modal>
</div>